/** @format */
.container {
  background-color: var(--primary-color);
  width: 350px;
  max-width: 350px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
}

.login {
  height: 500px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

button {
  background-color: var(--fourth-color);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 2px solid var(--fourth-color);
  background-color: transparent;
  padding: 10px;
  color: white;
  transition: 0.5s;
  width: 65%;
}

input:focus-visible {
  border-radius: 5px;
  background-color: var(--secondary-color);
  outline: none;
}

.register-button {
  padding: 20px 0;
  border-radius: 10px;
  border: 3px solid var(--fourth-color);
  transition: 0.5s;
  font-size: 1em;
  min-width: 100%;
}

.generate-wallet-container {
  height: 400px;
  width: 250px;
  gap: 10px;
}

.seed-container {
  cursor: copy;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  gap: 10px;
  align-items: space-around;
  justify-content: center;
  position: relative;
}
.seed-container-tooltip {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -10%;
  padding: 10px;
  width: 250px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.seed-container:hover .seed-container-tooltip {
  opacity: 1;
}

.seed-container span {
  background-color: var(--secondary-color);
  padding: 5px 0;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 0.8em;
}
