/** @format */
.container {
  background-color: var(--primary-color);
  width: 350px;
  max-width: 350px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.login {
  height: 500px;
}

.logo {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 30px;
}

button {
  background-color: var(--fourth-color);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 2px solid var(--fourth-color);
  background-color: transparent;
  padding: 10px;
  color: white;
  transition: 0.5s;
  width: 70%;
}

input:focus-visible {
  border-radius: 5px;
  background-color: var(--secondary-color);
  outline: none;
}

.register-button {
  padding: 20px 0;
  border-radius: 10px;
  border: 3px solid var(--fourth-color);
  transition: 0.5s;
  font-size: 1em;
  min-width: 100%;
}

.generate-wallet-container {
  height: 400px;
  width: 250px;
  gap: 10px;
}

.seed-container {
  cursor: copy;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  gap: 10px;
  align-items: space-around;
  justify-content: center;
  position: relative;
}

.seed-container span {
  background-color: var(--secondary-color);
  padding: 5px 0;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 0.8em;
}

.drop-down {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.drop-down:hover {
  background-color: var(--fourth-color);
}

.dropdown-toogle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.drop-down-container {
  background-color: var(--secondary-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 110%;
  left: 0;
  width: 300%;
  transition: 0.5s;
  padding: 5px 0;
  height: 100px;
  max-height: fit-content;
}

.drop-down-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  min-width: max-content;
}

.drop-down-item:hover {
  background-color: var(--fourth-color);
}

.drop-down-hide ~ .drop-down-container {
  padding: 0;
  height: 0;
  overflow: hidden;
}

.wallet-address {
  cursor: pointer;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-action-item {
  background-color: var(--third-color);
  height: 40px;
  aspect-ratio: 1;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.25em;
  transition: 0.3s;
}

.menu-action-item:hover {
  background-color: var(--fourth-color);
}

.transaction-section {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.transaction-item {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-date {
  font-size: 0.7em;
  opacity: 0.5;
}

.transaction-type {
  background-color: var(--green);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.25em;
}
